@charset "utf-8";
.mianze-head{
	width:100%;
	float:left;
	clear:both;
	margin-top:80px;
}
.mianze-logo{
	padding:15px 20px;
	overflow:hidden;
}
.mianze-menu{
	background:#f8f8f8;
	border-top:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	height:32px;
	line-height:32px;
	padding:0 20px;
	font-size:14px;
}
.mianze-menu a{
	font-weight:bold;
}
.mianze-menu span{
	padding:0 10px;
}
.mainze-content{
	width:100%;
	float:left;
	clear:both;
}
.mainze-info{
	padding:10px 20px;
	overflow:hidden;
}
.mainze-list{
	width:100%;
	float:left;
	clear:both;
	line-height:30px;
	border-bottom:#ccc dashed 1px;
	padding:10px 0;
}
.mainze-list.last{
	border-bottom:none;
}
.mainze-list h3{
	padding-bottom:5px;
}
.mainze-list p{
	font-size:13px;
	text-indent:2em;
}
